@font-face {
  font-family: 'TT Lakes Regular';
  src: url("../fonts/tt_lakes_regular/TTLakes-Regular.eot");
  src: url("../fonts/tt_lakes_regular/TTLakes-Regular.eot") format("embedded-opentype"), url("../fonts/tt_lakes_regular/TTLakes-Regular.woff") format("woff"), url("../fonts/tt_lakes_regular/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url("../fonts/tt_lakes_medium/TTLakes-Medium.eot");
  src: url("../fonts/tt_lakes_medium/TTLakes-Medium.eot") format("embedded-opentype"), url("../fonts/tt_lakes_medium/TTLakes-Medium.woff") format("woff"), url("../fonts/tt_lakes_medium/TTLakes-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url("../fonts/tt_lakes_bolt/TTLakes-Bold.eot");
  src: url("../fonts/tt_lakes_bolt/TTLakes-Bold.eot") format("embedded-opentype"), url("../fonts/tt_lakes_bolt/TTLakes-Bold.woff") format("woff"), url("../fonts/tt_lakes_bolt/TTLakes-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Regular';
  src: url("../fonts/tt_lakes_regular/TTLakes-Regular.eot");
  src: url("../fonts/tt_lakes_regular/TTLakes-Regular.eot") format("embedded-opentype"), url("../fonts/tt_lakes_regular/TTLakes-Regular.woff") format("woff"), url("../fonts/tt_lakes_regular/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url("../fonts/tt_lakes_medium/TTLakes-Medium.eot");
  src: url("../fonts/tt_lakes_medium/TTLakes-Medium.eot") format("embedded-opentype"), url("../fonts/tt_lakes_medium/TTLakes-Medium.woff") format("woff"), url("../fonts/tt_lakes_medium/TTLakes-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url("../fonts/tt_lakes_bolt/TTLakes-Bold.eot");
  src: url("../fonts/tt_lakes_bolt/TTLakes-Bold.eot") format("embedded-opentype"), url("../fonts/tt_lakes_bolt/TTLakes-Bold.woff") format("woff"), url("../fonts/tt_lakes_bolt/TTLakes-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header__content {
  min-width: 320px;
  height: 88px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  padding-left: 16px;
}

.logo-group {
  position: relative;
  margin-right: 17px;
}

.logo-group::after {
  display: block;
  position: absolute;
  content: "";
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
  right: -17px;
  top: 10px;
}

.link-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 96px;
      flex-basis: 96px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 40px;
  margin: 24px 16px 24px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link-menu__item {
  margin-left: 19px;
}

.link-menu__item:first-child {
  margin-left: 0;
}

body {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */