@font-face {
  font-family: 'TT Lakes Regular';
  src: url("../fonts/tt_lakes_regular/TTLakes-Regular.eot");
  src: url("../fonts/tt_lakes_regular/TTLakes-Regular.eot") format("embedded-opentype"), url("../fonts/tt_lakes_regular/TTLakes-Regular.woff") format("woff"), url("../fonts/tt_lakes_regular/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url("../fonts/tt_lakes_medium/TTLakes-Medium.eot");
  src: url("../fonts/tt_lakes_medium/TTLakes-Medium.eot") format("embedded-opentype"), url("../fonts/tt_lakes_medium/TTLakes-Medium.woff") format("woff"), url("../fonts/tt_lakes_medium/TTLakes-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url("../fonts/tt_lakes_bolt/TTLakes-Bold.eot");
  src: url("../fonts/tt_lakes_bolt/TTLakes-Bold.eot") format("embedded-opentype"), url("../fonts/tt_lakes_bolt/TTLakes-Bold.woff") format("woff"), url("../fonts/tt_lakes_bolt/TTLakes-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Regular';
  src: url("../fonts/tt_lakes_regular/TTLakes-Regular.eot");
  src: url("../fonts/tt_lakes_regular/TTLakes-Regular.eot") format("embedded-opentype"), url("../fonts/tt_lakes_regular/TTLakes-Regular.woff") format("woff"), url("../fonts/tt_lakes_regular/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url("../fonts/tt_lakes_medium/TTLakes-Medium.eot");
  src: url("../fonts/tt_lakes_medium/TTLakes-Medium.eot") format("embedded-opentype"), url("../fonts/tt_lakes_medium/TTLakes-Medium.woff") format("woff"), url("../fonts/tt_lakes_medium/TTLakes-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url("../fonts/tt_lakes_bolt/TTLakes-Bold.eot");
  src: url("../fonts/tt_lakes_bolt/TTLakes-Bold.eot") format("embedded-opentype"), url("../fonts/tt_lakes_bolt/TTLakes-Bold.woff") format("woff"), url("../fonts/tt_lakes_bolt/TTLakes-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header__content {
  min-width: 320px;
  height: 88px;
}

@media (min-width: 767px) {
  .header__content {
    min-width: 768px;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  padding-left: 16px;
}

.menu__item:last-child {
  padding-left: 0px;
}

.menu__item:first-child {
  position: relative;
}

@media (min-width: 767px) {
  .menu__item:first-child::after {
    display: block;
    position: absolute;
    content: "";
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    right: -20px;
    top: 4px;
  }
}

@media (min-width: 767px) {
  .menu__item {
    padding-left: 24px;
  }
}

.logo-group {
  position: relative;
  margin-right: 17px;
}

@media (min-width: 767px) {
  .logo-group {
    margin-left: 18px;
  }
}

.logo-group::after {
  display: block;
  position: absolute;
  content: "";
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
  right: -17px;
  top: 10px;
}

@media (min-width: 767px) {
  .logo-group::after {
    display: none;
  }
}

.link-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 96px;
      flex-basis: 96px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 40px;
  margin: 24px 16px 24px 0px;
  margin-left: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 767px) {
  .link-menu {
    margin: 24px 24px 24px 0px;
    margin-left: auto;
  }
}

.link-menu__item {
  margin-left: 16px;
}

.link-menu__item:nth-child(-n+3) {
  display: none;
}

@media (min-width: 767px) {
  .link-menu__item:nth-child(-n+3) {
    display: block;
  }
}

@media (min-width: 767px) {
  .link-menu__item:nth-child(4) {
    margin-left: 42px;
    position: relative;
  }
}

@media (min-width: 767px) {
  .link-menu__item:nth-child(4)::after {
    display: block;
    position: absolute;
    content: "";
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    right: 60px;
    top: 4px;
  }
}

@font-face {
  font-family: 'TT Lakes Regular';
  src: url("../fonts/tt_lakes_regular/TTLakes-Regular.eot");
  src: url("../fonts/tt_lakes_regular/TTLakes-Regular.eot") format("embedded-opentype"), url("../fonts/tt_lakes_regular/TTLakes-Regular.woff") format("woff"), url("../fonts/tt_lakes_regular/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url("../fonts/tt_lakes_medium/TTLakes-Medium.eot");
  src: url("../fonts/tt_lakes_medium/TTLakes-Medium.eot") format("embedded-opentype"), url("../fonts/tt_lakes_medium/TTLakes-Medium.woff") format("woff"), url("../fonts/tt_lakes_medium/TTLakes-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url("../fonts/tt_lakes_bolt/TTLakes-Bold.eot");
  src: url("../fonts/tt_lakes_bolt/TTLakes-Bold.eot") format("embedded-opentype"), url("../fonts/tt_lakes_bolt/TTLakes-Bold.woff") format("woff"), url("../fonts/tt_lakes_bolt/TTLakes-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.menu-container {
  padding: 24px 16px 24px 16px;
  min-width: 320px;
  background-color: #F8F8F8;
  border-top: 1px solid #D9FFF5;
}

.caption {
  font-family: "TT Lakes Bold";
  font-size: 28px;
  letter-spacing: -0.6px;
  position: relative;
  margin-bottom: 24px;
  padding: 1px 0;
}

.caption::before {
  display: block;
  position: absolute;
  content: "";
  width: 4px;
  height: 40px;
  background-color: #41F6D7;
  left: -16px;
  top: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "TT Lakes Medium";
  font-size: 16px;
  letter-spacing: -0.2px;
  overflow: scroll;
}

.price-list__link {
  text-decoration: none;
  color: #7E7E82;
  white-space: nowrap;
}

.price-list__item {
  padding: 10px 16px 8px 16px;
}

.price-list__item--active {
  background-color: #fff;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  padding: 7px 16px 7px 16px;
}

@font-face {
  font-family: 'TT Lakes Regular';
  src: url("../fonts/tt_lakes_regular/TTLakes-Regular.eot");
  src: url("../fonts/tt_lakes_regular/TTLakes-Regular.eot") format("embedded-opentype"), url("../fonts/tt_lakes_regular/TTLakes-Regular.woff") format("woff"), url("../fonts/tt_lakes_regular/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url("../fonts/tt_lakes_medium/TTLakes-Medium.eot");
  src: url("../fonts/tt_lakes_medium/TTLakes-Medium.eot") format("embedded-opentype"), url("../fonts/tt_lakes_medium/TTLakes-Medium.woff") format("woff"), url("../fonts/tt_lakes_medium/TTLakes-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url("../fonts/tt_lakes_bolt/TTLakes-Bold.eot");
  src: url("../fonts/tt_lakes_bolt/TTLakes-Bold.eot") format("embedded-opentype"), url("../fonts/tt_lakes_bolt/TTLakes-Bold.woff") format("woff"), url("../fonts/tt_lakes_bolt/TTLakes-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.info-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  background-color: #F8F8F8;
  font-family: "TT Lakes Regular";
  color: #1B1C21;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.info-services__excerpt {
  padding: 0px 16px;
}

.info-services__link {
  display: block;
  position: relative;
  margin: 16px auto 16px 32px;
  font-family: "TT Lakes Medium";
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  text-decoration: none;
}

.info-services__icon {
  position: absolute;
  left: -24px;
  bottom: 4px;
  color: #B8FFEC;
}

body {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */