@import "_var";
@import "_mixins";


.header {
    &__content {
        min-width: $min-width;
        height: 88px;
    }
    &__menu {
        display: flex;
        align-items: center;
    }
}
.menu__item {
    padding-left: 16px;
}
.logo-group {
    position: relative;
    margin-right: 17px;
}
.logo-group::after {
    @include line-header(-17px, 10px)
}
.link-menu {
    display: flex;
    flex-basis: 96px;
    box-sizing: border-box;
    max-height: 40px;
    margin: 24px 16px 24px 0px;
    justify-content: space-between;
    &__item {
        margin-left: 19px;
        &:first-child {
            margin-left: 0;
        }
    }
}
