@import "_fonts";

$font-lakes-bolt: 'TT Lakes Bold';
$font-lakes-regular: 'TT Lakes Regular';
$font-lakes-medium: 'TT Lakes Medium';

$min-width: 320px;
$max-width: 1920px;
$point1: 330;
$point2: 767;
$point3: 1115;