@import "_fonts";

$font-lakes-bolt: 'TT Lakes Bold';
$font-lakes-regular: 'TT Lakes Regular';
$font-lakes-medium: 'TT Lakes Medium';


$min-width: 320px;
$middle-width: 768px;
$max-width: 1920px;
$small: 318px;
$medium: 767px;
$large: 1115px;